{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Datos Estádisticos</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    {% block css %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% endblock css %}  
</head>
<body class="fixed-navbar fixed-sidebar">

<div id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version">
        <span>
            Menú
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">Menú</span>
        </div>
    </nav>
    <div class="header">
        <img src="{% static 'images/slogan21.png' %}" alt="" class="xs">
    </div>
</div>    
        
<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">

            
            <!--<a href="index.html">
                <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>-->

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{request.user.username}}</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Opciones <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>


               
                
            </div>
        </div>

        <ul class="nav" id="side-menu">
                <li>
                        <a href="#"><span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                            
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'listadodisponibilidadSPENCE' %}"> <span class="nav-label">Disponiblidad - Utilización - EGE / Norte 1 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadodisponibilidadCMCC' %}"><span class="nav-label">Disponiblidad - Utilización - EGE / Norte 2 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'disponibilidad' %}">Gráficos Disponibilidad</a>
                            </li>
                            <li>
                                <a href="{% url 'utilizacion' %}">Gráficos Utilización</a>
                            </li>
                            <li>
                                <a href="{% url 'ege_norte1' %}">Gráficos Efectividad</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_Spence' %}">Perforación Norte 1</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_CMCC' %}">Perforación Norte 2</a>
                            </li>
                            <li>
                                <a href="{% url 'standby_norte1' %}">Comparación Horas StandBy</a>
                            </li>
                        </ul>
                    </li>
                <li>
                        <a href="#"><span class="nav-label">Mantención Usuarios</span><span class="fa arrow"></span></a>
                    
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearUsuario' %}"> <span class="nav-label">Agregar Usuario</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadousuarios' %}"><span class="nav-label">Listado Usuarios</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Mantención Máquinas</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearMaquina' %}"><span class="nav-label">Agregar Máquina</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadomaquina' %}"><span class="nav-label">Listado Máquinas</span></a>
                            </li>
                        </ul>
                    </li>
        

        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
        <p>&nbsp;</p>
        <div class="row">
            <div class="panel-body float-e-margins">
            <div class="col-lg-3">
                <a class="btn btn-success btn-block" href="{% url 'index' %}">Volver al Menú Principal</a>
            </div>
            <div class="col-lg-7">
    
            </div>
            <div class="col-lg-2">          
                <a class="btn btn-success btn-block" href="javascript: history.go(-1)">Atrás</a>
            </div>
        </div>
        </div>
        <div class= "row"> 
            <div class="col-lg-12 text-center m-t-md">
                    <h2>Datos Porcentuales {{faena}}</h2> 
            </div>
        </div>
    <div class="row">
    <p>&nbsp;</p>
    <div class="col-lg-12">
    <div class="panel-body">
    <div class="table-responsive">
        <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Máquina</th>
                    <th>Fecha</th>
                    <th>Disponibilidad</th>
                    <th>Utilización</th>
                    <th>EGE</th>
                   
                    
                </tr>
            </thead>
            
            
            <tbody>
                {% for maquina in objetos %}
                <tr>
                    
                    {% for equipo in maquinas %}
                    {% if equipo.id_equipo == maquina.maquina %}
                        <td>{{equipo.maquina}}</td>
                        <td>{{maquina.fecha.month}} - {{maquina.fecha.year}}</td>
                        <td>{{maquina.disponibilidad}} %</td>
                        <td>{{maquina.utilizacion}} %</td>
                        <td>{{maquina.ege}} %</td>
                        
                    {% endif %}
                    {% endfor %}
                    
                    
                {% endfor %}    
                </tr>
                
            </tbody>

        </table>
    </div>
</div>

    <form  action="" method="post" id="fecha">
        {% csrf_token %}
        
         
        <div class="text-center">    
            <span class="text-primary font-extra-bold">FECHA:</span>
            <select id="fechas" name='fechas'>
                {% if valor == 'all' %}
                    <option value='all' selected>---Todo---</option>
                {% else %}
                    <option value='all'>---Todo---</option>
                {% endif %}
                {% for x in fechas %}
                    {% if valor == x %}
                        <option value='{{x}}' selected>{{x}}</option>
                    {% else %}
                        <option value='{{x}}'>{{x}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        </br>
        
        <div class="text-center">
            <input type="submit" class= "btn btn-success" value="Filtrar">&nbsp;&nbsp;</input>
        </div>
    </form>
        
       
    </div>
    
</div>
<p>&nbsp;</p>
    <div class="row">
            <div class="panel-body float-e-margins">
            <div class="col-lg-5"></div>
            
                <div class="col-lg-2 text-center">
                    {% if faena == 'Norte 1'  %}          
                    <a class="btn btn-success btn-block" href="{% url 'reporte_norte1' %}">Generar Reporte</a>
                    {% else %}
                    <a class="btn btn-success btn-block" href="{% url 'reporte_norte2' %}">Generar Reporte</a>
                    {% endif %}
                </div>
            </div>
    </div>
    <p>&nbsp;</p>
    
</br></br></br></br></br>


    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Desatecnología
        </span>
        2019
    </footer>
</div>


{% block js %}
<!-- Vendor scripts -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendor/flot.curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'vendor/jquery.flot.spline/index.js' %}"></script>
<script src="{% static 'vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'scripts/homer.js' %}"></script>
<script src="{% static 'scripts/Chart.min.js' %}"></script>
<script src="{% static 'scripts/chartjs-plugin-labels.min.js' %}"></script>

{% endblock js %}


</body>
</html>