{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Gráfico Comparación StandBy</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    {% block css %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% endblock css %}  
    {%block jquery%}
    
    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/moment-with-locales.min.js' %}"></script>
    
    <script>
        $(document).ready(function(){
        var endpoint = '/chart/data/stdby_norte1'
        $.ajax({
            method: "GET",
            url: endpoint,
           
            success: function(data){
                labels = data.labels
                dataset = data.data
                moment.locale('es');
                
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            label:'Stdby',
                            data: dataset,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]

                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Comparación Stand By Máquina: {{maquina}}  {{fecha}}'
                        },
                        plugins: {
                            labels: {
                                render: function (args) {
                                    return args.value + ' Hrs';
                                },
                                fontSize: 14,
                                fontStyle: 'bold',
                                fontColor: '#000',
                                fontFamily: '"Lucida Console", Monaco, monospace'
                            }    
                        }
                        
                        
                
                        
                             
                    }
                })
                $("#pie").click(function() {
                    change('pie');
                });

                $("#bar").click(function() {
                    change('bar');
                });

                $("#horizontal").click(function() {
                    change('horizontalBar');
                });
                
                $("#doughnut").click(function() {
                    change('doughnut');
                });

                function change(newType) {
                    myChart.destroy();
                    if (newType!='pie' && newType!='doughnut'){
                        myChart = new Chart(ctx, {
                        type: newType,
                        data: {
                        labels: labels,
                        datasets: [{
                            label:'Comparación StandBy',
                            data: dataset,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                            }]

                        },
                        options: {
                        responsive: true,
                        scales: {
                            yAxes:[{
                                ticks:{
                                    min:0
                                }
                            }],
                            xAxes:[{
                                ticks:{
                                    min:0
                                }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Comparación Stand By Máquina: {{maquina}}  {{fecha}}'
                        },
                        plugins: {
                            labels: {
                                render: function (args) {
                                    return args.value + ' Hrs';
                                },
                                fontSize: 14,
                                fontStyle: 'bold',
                                fontColor: '#000',
                                fontFamily: '"Lucida Console", Monaco, monospace'
                            }    
                        }
                        
                        
                
                        
                             
                        }
                        });
                    }
                    else{
                    myChart = new Chart(ctx, {
                        type: newType,
                        data: {
                        labels: labels,
                        datasets: [{
                            label:'Comparación StandBy',
                            data: dataset,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]

                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Comparación Stand By Máquina: {{maquina}}  {{fecha}}'
                        },
                        plugins: {
                            labels: {
                                render: function (args) {
                                    return args.value + ' Hrs';
                                },
                                fontSize: 14,
                                fontStyle: 'bold',
                                fontColor: '#000',
                                fontFamily: '"Lucida Console", Monaco, monospace'
                            }    
                        }
                        
                        
                
                        
                             
                    }
                });
                }
                };   
                
                

            }, 
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    })
   
    </script>

    {%endblock jquery%}

</head>
<body class="fixed-navbar fixed-sidebar">

<div id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version">
        <span>
            Menú
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">Menú</span>
        </div>
    </nav>
    <div class="header">
        <img src="{% static 'images/slogan21.png' %}" alt="" class="xs">
    </div>
</div>    
        
<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">

            
            <!--<a href="index.html">
                <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>-->

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{request.user.username}}</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Opciones <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>


               
                
            </div>
        </div>

        <ul class="nav" id="side-menu">
                <li>
                        <a href="#"><span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                            
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'listadodisponibilidadSPENCE' %}"> <span class="nav-label">Disponiblidad - Utilización - EGE / Norte 1 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadodisponibilidadCMCC' %}"><span class="nav-label">Disponiblidad - Utilización - EGE / Norte 2 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'disponibilidad' %}">Gráficos Disponibilidad</a>
                            </li>
                            <li>
                                <a href="{% url 'utilizacion' %}">Gráficos Utilización</a>
                            </li>
                            <li>
                                <a href="{% url 'ege_norte1' %}">Gráficos Efectividad</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_Spence' %}">Perforación Norte 1</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_CMCC' %}">Perforación Norte 2</a>
                            </li>
                            <li>
                                <a href="{% url 'standby_norte1' %}">Comparación Horas StandBy</a>
                            </li>
                        </ul>
                    </li>
                <li>
                        <a href="#"><span class="nav-label">Mantención Usuarios</span><span class="fa arrow"></span></a>
                    
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearUsuario' %}"> <span class="nav-label">Agregar Usuario</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadousuarios' %}"><span class="nav-label">Listado Usuarios</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Mantención Máquinas</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearMaquina' %}"><span class="nav-label">Agregar Máquina</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadomaquina' %}"><span class="nav-label">Listado Máquinas</span></a>
                            </li>
                        </ul>
                    </li>
        

        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
        <p>&nbsp;</p>
        <div class="row">
                <div class="panel-body float-e-margins">
                <div class="col-lg-3">
                        <a class="btn btn-success btn-block" href="{% url 'index' %}">Volver al Menú Principal</a>
                    </div>
                    <div class="col-lg-7">
            
                    </div>
            <div class="col-lg-2">          
                <a class="btn btn-success btn-block" href="javascript: history.go(-1)">Atrás</a>
            </div>
        </div>
    </div>
        <div class= "row"> 
            <div class="col-lg-12 text-center m-t-md">
                    <h2>Comparación Horas StandBy {{faena}}</h2> 
            </div>
        </div>
    <div class="row">
    <p>&nbsp;</p>
        <div class="col-lg-8">
                <div class="panel-body">
                        <div>
                        <canvas id="myChart"></canvas>
                        </div>
                </div> 
            
        </div> 
        <form  action="" method="post" id="fecha_maquina">
            {% csrf_token %}
            <div class="panel-body float-e-margins">
            <span class="text-primary font-extra-bold">Fecha:</span>    
            <div class="text-center">    
                <select id="fechas" name='fechas'>
                    {% for x in fechas %}
                        {% if fecha == x %}
                            <option value='{{x}}' selected>{{x}}</option>
                        {% else %}
                            <option value='{{x}}'>{{x}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <span class="text-primary font-extra-bold">Máquina:</span>
        </br>
        </br>     
            
        <div class="text-center">    
                <select id="maquina" name='maquina'>
                    {% for x in maquinas %}
                        {% if maquina == x.maquina %}
                            <option value='{{x.maquina}}' selected>{{ x.maquina }}</option>
                        {% else %}
                            <option value='{{x.maquina}}'>{{ x.maquina }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
            


            </br>
        </br>
    </br>
            
            <div class="text-center">
                <input type="submit" class= "btn btn-success" value="Agregar">&nbsp;&nbsp;</input>
                <a class="btn btn-default" href="{% url 'standby_norte2' %}">ir a Norte 2</a>
                
            </div>
        </div>
        </form>
    </div>
        </br>
        </br>
        <div class="row">
                <div class="col-lg-12 text-center">
                        <div class="panel-body float-e-margins">
                        <button id='bar' class="btn btn-success"><strong>Barras</strong></button>
                        <button id='horizontal' class="btn btn-success"><strong>Horizontal</strong></button>
                        <button id='pie' class="btn btn-success"><strong>Torta</strong></button>
                        <button id='doughnut' class="btn btn-success"><strong>Doughnut</strong></button>
                        </div>
                </div>
        </div> 

    </br>
    </br>        




    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Desatecnología
        </span>
        2019
    </footer>

</div>

{% block js %}
<!-- Vendor scripts -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendor/flot.curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'vendor/jquery.flot.spline/index.js' %}"></script>
<script src="{% static 'vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'scripts/homer.js' %}"></script>
<script src="{% static 'scripts/Chart.min.js' %}"></script>
<script src="{% static 'scripts/chartjs-plugin-labels.min.js' %}"></script>
{% endblock js %}


</body>
</html>