{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Gráfico Disponiblidad</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    {% block css %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% endblock css %}  
    {%block jquery%}
    
    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/moment-with-locales.min.js' %}"></script>
    
    <script>
        $(document).ready(function(){
        var endpoint = '/chart/CMCC/data/disp'
        $.ajax({
            method: "GET",
            url: endpoint,
           
            success: function(data){
                labels = data.labels
                dataset = data.dataset
                rango = data.rango
                moment.locale('es');
                var ctx = document.getElementById('myChart').getContext('2d');
                if (rango=='ON'){
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: dataset

                    },
                    options: {
                        plugins:{
                            labels: {
                                render: function (args) {
                                    return;
                                }
                            }
                        },
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Disponibilidad Norte 2'
                        },
                        scales: {
                            
                            xAxes:[{
                                
                                offset: 10,
                                type:'time',
                                
                                time:{
                                    
                                    unit:'month',
                                    
                                    
                                },
                                
                                                  
                                
                            }],
                            yAxes: [{
                                stacked: false,
                                ticks: {
                                    min: 0,
                                    max: 100,
                                    stepSize: 5,
                                    callback: function(value){
                                        return value + "%"}
                                    },  
								scaleLabel: {
                                    display: true,
                                    labelString: "Porcentaje"
                                },
                                
                            }],
                            
                            
                        },
                    
                        
                        
                             
                    }
                })
                }
                else{
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: dataset

                        },
                        options: {
                            plugins:{
                            labels: {
                                render: function (args) {
                                    return;
                                }
                            }
                        },
                            responsive: true,
                            legend: {
                                display: false,
                            },
                            elements:{
                                line: {
                                    tension:0
                                }
                            }, 
                            title: {
                                
                                display: true,
                                text: 'Disponibilidad Norte 2 {{fechast}}'
                            },
                            scales: {
                                yAxes: [{
                                    stacked: false,
                                ticks: {
                                    min: 0,
                                    max: 100,
                                    stepSize: 5,
                                    callback: function(value){
                                        return value + "%"}
                                    },  
								scaleLabel: {
                                    display: true,
                                    labelString: "Porcentaje"
                                },
                                }]
                            }
                    
                        
                        
                             
                        }
                        })
                }
                $("#line").click(function() {
                    change('line');
                });

                $("#bar").click(function() {
                    change('bar');
                });

                $("#horizontal").click(function() {
                    change('horizontalBar');
                });
                
                $("#pie").click(function() {
                    change('pie');
                });

                $("#doughnut").click(function() {
                    change('doughnut');
                });
                var colores=myChart.data.datasets[0].backgroundColor;
                function change(newType) {
                    myChart.destroy();
                    if (newType=='horizontalBar'){
                        if (rango=='ON'){
                            myChart = new Chart(ctx, {
                            type: newType,
                            data: {
                                labels: labels,
                                datasets: dataset

                            },
                            options: {
                                responsive: true,
                                title: {
                                    display: true,
                                    text: 'Disponibilidad Norte 2'
                                },
                                scales: {
                                
                                    yAxes:[{
                                    
                                        offset: 10,
                                        type:'time',
                                    
                                        time:{
                                        
                                            unit:'month',
                                        
                                        
                                        },
                                    
                                                    
                                    
                                    }],

                                    xAxes: [{
                                        stacked: false,
                                        ticks: {
                                            min: 0,
                                            max: 100,
                                            stepSize: 5,
                                            callback: function(value){
                                                return value + "%"}
                                        },  
                                        scaleLabel: {
                                            display: true,
                                            labelString: "Porcentaje"
                                        },
                                    
                                    }],
                                
                                
                                },
                        
                            
                            
                                
                            }
                            })

                            }
                            else{
                                myChart = new Chart(ctx, {
                                type: newType,
                                data: {
                                    labels: labels,
                                    datasets: dataset

                                },
                                options: {
                                    legend: {
                                        display: false,
                                    },
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: 'Disponibilidad Norte 2 {{fechast}}'
                                    },
                                    scales: {
                                    
                                        

                                    xAxes: [{
                                        stacked: false,
                                        ticks: {
                                            min: 0,
                                            max: 100,
                                            stepSize: 5,
                                            callback: function(value){
                                                return value + "%"}
                                        },  
                                        scaleLabel: {
                                            display: true,
                                            labelString: "Porcentaje"
                                        },
                                    
                                    }],
                                
                                
                                },
                        
                            
                            
                                
                            }
                            })
                            myChart.data.datasets[0].backgroundColor=colores;
                            myChart.update();
                            }
                        }
                    else{
                        if (newType=='pie' || newType=='doughnut'){
                            if (rango=='OFF'){
                            myChart = new Chart(ctx, {
                            type: newType,
                            data: {
                                labels: labels,
                                datasets: dataset

                            },
                            options: {
                                plugins: {
                            labels: {
                                render: function (args) {
                                    return args.value + ' %';
                                },
                                fontSize: 14,
                                fontStyle: 'bold',
                                fontColor: '#000',
                                fontFamily: '"Lucida Console", Monaco, monospace'
                            }    
                        },
                                responsive: true,
                                elements:{
                                    line: {
                                        tension:0
                                    }
                                }, 
                                title: {
                                    
                                    display: true,
                                    text: 'Disponibilidad Norte 2 {{fechast}}'
                                },
                                
                        
                            
                            
                                
                            }
                            })
                            myChart.data.datasets[0].backgroundColor=colores;
                            myChart.update();
                            }
                            else{
                                ctx.font = "18px Arial";
                                ctx.fillText("No aplica para el rango de datos",0,50);
                            }
                        }
                        else {
                            if (rango=='OFF'){
                            myChart = new Chart(ctx, {
                                type: newType,
                                data: {
                                    labels: labels,
                                    datasets: dataset

                                },
                                options: {
                                    plugins:{
                                        labels: {
                                            render: function (args) {
                                                return;
                                            }
                                        }
                                    },
                                    legend: {
                                        display: false,
                                    },
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: 'Disponibilidad Norte 2 {{fechast}}'
                                    },
                                    scales: {
                                    
                                        

                                    yAxes: [{
                                        stacked: false,
                                        ticks: {
                                            min: 0,
                                            max: 100,
                                            stepSize: 5,
                                            callback: function(value){
                                                return value + "%"}
                                        },  
                                        scaleLabel: {
                                            display: true,
                                            labelString: "Porcentaje"
                                        },
                                    
                                    }],
                                
                                
                                },
                        
                            
                            
                                
                            }
                            })
                                
                                if (newType=='line'){
                                    myChart.data.datasets[0].backgroundColor='#4286f4';
                                    myChart.options.elements.line.tension=0;
                                    myChart.update();
                                }
                                else{
                                    myChart.data.datasets[0].backgroundColor=colores;
                                    myChart.update();
                                }
                            }
                            else {
                                myChart = new Chart(ctx, {
                                type: newType,
                                data: {
                                    labels: labels,
                                    datasets: dataset

                                },
                                options: {
                                    plugins:{
                                        elements:{
                                            line:{
                                                tension:0
                                            }
                                        }, 
                                        labels: {
                                            render: function (args) {
                                                return;
                                            }
                                        }
                                    },
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: 'Disponibilidad Norte 2'
                                    },
                                    scales: {
                                        
                                        xAxes:[{
                                            
                                            offset: 10,
                                            type:'time',
                                            
                                            time:{
                                                
                                                unit:'month',
                                                
                                                
                                            },
                                            
                                                            
                                            
                                        }],
                                        yAxes: [{
                                            stacked: false,
                                            ticks: {
                                                min: 0,
                                                max: 100,
                                                stepSize: 5,
                                                callback: function(value){
                                                    return value + "%"}
                                                },  
                                            scaleLabel: {
                                                display: true,
                                                labelString: "Porcentaje"
                                            },
                                            
                                        }],
                                        
                                        
                                    },
                                
                                    
                                    
                                        
                                }
                            })
                            }
                        }
                    }
                }
            },  
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    
    })
   
    </script>

    {%endblock jquery%}

</head>
<body class="fixed-navbar fixed-sidebar">

<div id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version">
        <span>
            Menú
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">Menú</span>
        </div>
    </nav>
    <div class="header">
        <img src="{% static 'images/slogan21.png' %}" alt="" class="xs">
    </div>
</div>    
        
<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">

            
            <!--<a href="index.html">
                <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>-->

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{request.user.username}}</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Opciones <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>


               
                
            </div>
        </div>

        <ul class="nav" id="side-menu">
                <li>
                        <a href="#"><span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                            
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'listadodisponibilidadSPENCE' %}"> <span class="nav-label">Disponiblidad - Utilización - EGE / Norte 1 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadodisponibilidadCMCC' %}"><span class="nav-label">Disponiblidad - Utilización - EGE / Norte 2 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'disponibilidad' %}">Gráficos Disponibilidad</a>
                            </li>
                            <li>
                                <a href="{% url 'utilizacion' %}">Gráficos Utilización</a>
                            </li>
                            <li>
                                <a href="{% url 'ege_norte1' %}">Gráficos Efectividad</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_Spence' %}">Perforación Norte 1</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_CMCC' %}">Perforación Norte 2</a>
                            </li>
                            <li>
                                <a href="{% url 'standby_norte1' %}">Comparación Horas StandBy</a>
                            </li>
                        </ul>
                    </li>
                <li>
                        <a href="#"><span class="nav-label">Mantención Usuarios</span><span class="fa arrow"></span></a>
                    
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearUsuario' %}"> <span class="nav-label">Agregar Usuario</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadousuarios' %}"><span class="nav-label">Listado Usuarios</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="nav-label">Mantención Máquinas</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearMaquina' %}"><span class="nav-label">Agregar Máquina</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadomaquina' %}"><span class="nav-label">Listado Máquinas</span></a>
                            </li>
                        </ul>
                    </li>
        

        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <p>&nbsp;</p>
    <div class="row">
            <div class="panel-body float-e-margins">
            <div class="col-lg-3">
                    <a class="btn btn-success btn-block" href="{% url 'index' %}">Volver al Menú Principal</a>
                </div>
            <div class="col-lg-7"></div>
               
        
        <div class="col-lg-2">          
            <a class="btn btn-success btn-block" href="javascript: history.go(-1)">Atrás</a>
        </div>
        </div>
    <div class= "row"> 
        <div class="col-lg-12 text-center m-t-md">
                <h2>Gráfico Disponibilidad Norte 2</h2> 
        </div>
    </div>
    
<div class="row">
<p>&nbsp;</p>
    <div class="col-lg-12 text-center m-t-md">
        <div class="panel-body">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div> 
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-lg-12">
    <form  action="" method="post" id="fechas">
        {% csrf_token %}
        <div class="row">
                <div class="panel-body float-e-margins">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">    
                <span class="text-primary font-extra-bold">Desde:</span>    
                  
                        <select id="fecha_inicio" name='fecha_inicio'>
                                {% for x in fechas %}
                                    {% if x == fechast %}
                                        <option value='{{x}}' selected>{{x}}</option>
                                    {% else %}
                                        <option value='{{x}}'>{{x}}</option>
                                    {% endif %}
                                    
                                {% endfor %}
                        </select>
                    </div>
                </div>
                </div>
                
                <div class="row">
                    <div class="panel-body float-e-margins">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4"> 
                    <span class="text-primary font-extra-bold">Hasta:</span>        
                   
                        <select id="fecha_final" name='fecha_final'>
                                {% for x in fechas %}
                                    {% if x == fechaend %}
                                        <option value='{{x}}' selected>{{x}}</option>
                                    {% else %}
                                        <option value='{{x}}'>{{x}}</option>
                                    {% endif %}
                                    
                                {% endfor %}
                        </select>
                    </div>
                </div>
                </div>

        </br>
        
        <div class="text-center">
            <input type="submit" class= "btn btn-success" value="Agregar">&nbsp;&nbsp;</input>
            <a class="btn btn-default" href="{% url 'disponibilidad' %}"> ir a Gráfico Norte 1</a>
            </br>
            </br>
            <a class="btn btn-success" href="{% url 'graficocomparativodisp' %}">Comparativo Total</a>
        </div>
    </form>
    
</div>   
    
</div>
</br></br>
<div class="row">
        <div class="col-lg-12 text-center">
                <div class="panel-body float-e-margins">
                <button id='line' class="btn btn-success"><strong>Rectas</strong></button>
                <button id='bar' class="btn btn-success"><strong>Barras</strong></button>
                <button id='horizontal' class="btn btn-success"><strong>Horizontal</strong></button>
                <button id='pie' class="btn btn-success"><strong>Torta</strong></button>
                <button id='doughnut' class="btn btn-success"><strong>Doughnut</strong></button>
                </div>
        </div>
</div>
</br></br></br></br>



<!-- Footer-->
<footer class="footer">
    <span class="pull-right">
        Desatecnología
    </span>
    2019
</footer>
</div>

{% block js %}
<!-- Vendor scripts -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendor/flot.curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'vendor/jquery.flot.spline/index.js' %}"></script>
<script src="{% static 'vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'scripts/homer.js' %}"></script>
<script src="{% static 'scripts/Chart.min.js' %}"></script>
<script src="{% static 'scripts/chartjs-plugin-labels.min.js' %}"></script>
{% endblock js %}


</body>
</html>