{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Agregar Maquina</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    {% block css %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% endblock css %}
</head>
<body class="fixed-navbar fixed-sidebar">

<!-- Simple splash screen-->
<!--<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>-->
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<div id="header">
    <div class="color-line"></div>
    <div id="logo" class="light-version">
        <span>
            Menú
        </span>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <span class="text-primary">Menú</span>
        </div>
    </nav>
    <div class="header">
        <img src="{% static 'images/slogan21.png' %}" alt="" class="xs">
    </div>
</div>    
        
<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">

            
            <!--<a href="index.html">
                <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>-->

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{request.user.username}}</span>

                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">Opciones <b class="caret"></b></small>
                    </a>
                    <ul class="dropdown-menu animated flipInX m-t-xs">
                        
                        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </div>


               
                
            </div>
        </div>

        <ul class="nav" id="side-menu">
                <li>
                        <a href="#"><span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                            
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'listadodisponibilidadSPENCE' %}"> <span class="nav-label">Disponiblidad - Utilización - EGE / Norte 1 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadodisponibilidadCMCC' %}"><span class="nav-label">Disponiblidad - Utilización - EGE / Norte 2 (%)</span></a>
                            </li>
                            <li>
                                <a href="{% url 'disponibilidad' %}">Gráficos Disponibilidad</a>
                            </li>
                            <li>
                                <a href="{% url 'utilizacion' %}">Gráficos Utilización</a>
                            </li>
                            <li>
                                <a href="{% url 'ege_norte1' %}">Gráficos Efectividad</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_Spence' %}">Perforación Norte 1</a>
                            </li>
                            <li>
                                <a href="{% url 'perf_maquina_CMCC' %}">Perforación Norte 2</a>
                            </li>
                            <li>
                                <a href="{% url 'standby_norte1' %}">Comparación Horas StandBy</a>
                            </li>
                        </ul>
                    </li>
                <li>
                        <a href="#"><span class="nav-label">Mantención Usuarios</span><span class="fa arrow"></span></a>
                    
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'crearUsuario' %}"> <span class="nav-label">Agregar Usuario</span></a>
                            </li>
                            <li>
                                <a href="{% url 'listadousuarios' %}"><span class="nav-label">Listado Usuarios</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#"><span class="nav-label">Mantención Máquinas</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active">
                                <a href="#"><span class="nav-label">Agregar Máquina</span></a>
                            </li>
                            <li>
                                <a href="elim_maquina.html"><span class="nav-label">Eliminar Máquina</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="nav-label">Actualizar Máquina</span></a>
                            </li>
                        </ul>
                    </li>
           

        </ul>
    </div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="row"> 
        <div class="col-lg-12">
            <div class="panel-body">
                
                <form action="" method="post">{% csrf_token %}
                    <p>¿Estás seguro de que quieres borrar <b>"{{ user.username }}"</b>?</p>
                    <center><input type="submit" class="btn btn-primary" value="Sí, borrar el usuario" /></center>
                </form>
                <a class="btn btn-default" href="{% url 'listadomaquina' %}">Cancelar</a>
            </div>
         </div>    
        </div>
        

    </div>      



    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Desatecnología
        </span>
        2019
    </footer>
</div>

{% block js %}
  

<!-- Vendor scripts -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendor/jquery-flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendor/flot.curvedlines/curvedLines.js' %}"></script>
<script src="{% static 'vendor/jquery.flot.spline/index.js' %}"></script>
<script src="{% static 'vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendor/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'scripts/homer.js' %}"></script>

{% endblock js %}
</body>
</html>