{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Login</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    {% block css %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% endblock css %}
</head>

  

<body class="blank">

<!-- Simple splash screen-->
<!--<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Homer - Responsive Admin Theme</h1><p>Special Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>-->
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>
<div class="logo">
        <center><img src="{% static 'images/slogan21.png' %}" alt=""></center>
</div>
<div class="login-container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="text-center m-b-md">
                
                <h3>Por favor inicie sesión</h3>
              
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form method="POST" id="loginForm" action=""> 
                                {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="username">Usuario</label>
                                <input type="text" placeholder="Usuario" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Contraseña</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                
                            </div>
                            {% if form.non_field_errors %}
                                <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                            {% endif %}
                            <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
            <div class="col-md-12 text-center">
                <strong>Desatecnología</strong> - Soluciones con desarrollo tecnológico <br/> 2019
            </div>
    </div>
</div>

{% block js %}
  

<!-- Vendor scripts -->
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'scripts/homer.js' %}"></script>

{% endblock js %}
</body>
</html>